<div class="contenedor-filtros">
  <h4 class="titulo-filtros">Filtrar Libros</h4>

  <form [formGroup]="filtroForm" class="formulario-filtros">
    <div class="campo-filtro">
      <label for="filtroNombre" class="etiqueta-filtro">Nombre</label>
      <input 
        type="text"
        id="filtroNombre"
        class="entrada-filtro"
        formControlName="nombre"
        placeholder="Ej: Dune..."
      >
    </div>

    <div class="campo-filtro">
      <label for="filtroCategoria" class="etiqueta-filtro">Categoría</label>
      <select 
        id="filtroCategoria" 
        class="entrada-filtro" 
        formControlName="categoriaId"
      >
        <option [ngValue]="null">Todas</option>
        @for (categoria of categorias(); track categoria.id) {
          <option [ngValue]="categoria.id">{{ categoria.nombre }}</option>
        } @empty {
          <option [ngValue]="null">No hay categorías disponibles</option>
        }
      </select>
    </div>

    <div class="campo-filtro">
      <label for="filtroPrecio" class="etiqueta-filtro">Precio máximo</label>
      <input 
        id="filtroPrecio"
        type="number"
        class="entrada-filtro"
        formControlName="precioMax"
        placeholder="Ingrese precio máximo"
      >
    </div>
  </form>
</div>