/*
::ng-deep ngx-ui-loader {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  display: block !important;
  pointer-events: none !important;
}

::ng-deep .ngx-overlay {
  z-index: 9998 !important;
}

::ng-deep .ngx-foreground-spinner {
  z-index: 9999 !important;
}
*/
